@model MatureFashionsAppV2.Models.DB.Franchisors

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Franchisors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchisorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchisorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchisorPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchisorPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchisorTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchisorTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FranchisorFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranchisorFax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FranchisorNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
